/* CardRecommendation.css */

.card-custom {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header-custom {
  background-color: #3fbd3f;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.list-group-item-custom {
  font-size: 1.1rem;
  padding: 15px;
  font-weight: 500;
  color: #333;
}

